<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653678569175-v8j42gv11t6cphnq24edihn4a5rsnlll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653678569175-v8j42gv11t6cphnq24edihn4a5rsnlll</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>653678569175-0cjn94alqqr6oardsh85b7m1bge1dkav.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBCRVVmnCVaXEDwGGjiIwK2tbKJNs5n2M</string>
	<key>GCM_SENDER_ID</key>
	<string>653678569175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.alrehila.app</string>
	<key>PROJECT_ID</key>
	<string>alrehila-0</string>
	<key>STORAGE_BUCKET</key>
	<string>alrehila-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653678569175:ios:16b1eaf100b6af26857292</string>
</dict>
</plist>